Flask==2.3.3
Flask-AutoIndex==0.6.6
Flask-JWT-Extended==4.5.2
Flask-RESTful==0.3.9
Flask-SQLAlchemy==3.0.5
flask-sock
PyJWT==2.4.0
APScheduler==3.8.0
beautifulsoup4==4.12.2
Pillow==10.0.0
requests==2.31.0
colorama==0.4.4
