Flask==2.0.1
Flask-AutoIndex==0.6.6
Flask-JWT-Extended==4.3.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
PyJWT==2.1.0
APScheduler==3.8.0
beautifulsoup4==4.9.3
Pillow==9.3.0
requests==2.26.0
colorama==0.4.4
