@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.main {
  text-align: center;
}

h6 {
  font-size: 1.5rem;
  margin-top: 4vw;
  width: 70vw;
  text-align: center;
}

.underlined-text {
  text-decoration: underline;
}

.custom-navbar {
  background-color: #384154 !important;
  display: flex;
  align-items: center;
  width: 100% !important;
  margin: 0;
}

.custom-navbar .navbar-brand {
  margin: 0;
}

.custom-navbar .navbar-nav {
  margin: 0;
}

.icon-link {
  display: inline-block;
  margin-right: 5px; /* Adjust the spacing between the icons and the pipe symbol */
}

.icon {
  width: 20px; /* Adjust the width of the icon as per your preference */
  height: autopx; /* Maintain the aspect ratio of the icon */
}

.example {
  border-radius: 0.8vw;
  background-color: #50545e;
  padding: 2vw;
  width: 39rem;
  font-family: 'Fira Code', monospace;
}


h3 {
  margin-top: -3rem;
}

@keyframes backgroundColorPalette2 {
	0% {
		color: #ee6055;
	}
	25% {
		color: #60d394;
	}
	50% {
		color: #aaf683;
	}
  50% {
		color: #84aaf5;
	}
	75% {
		color: #ffd97d;
	}
	100% {
		color: #ff9b85;
	}
}

@keyframes backgroundColorPalette {
	0% {
		color: #ee6055;
    text-shadow: 2px 2px 60px #ee6055;
	}
	25% {
		color: #60d394;
    text-shadow: 2px 2px 60px #60d394;
	}
	50% {
		color: #aaf683;
    text-shadow: 2px 2px 60px #aaf683;
	}
	75% {
		color: #ffd97d;
    text-shadow: 2px 2px 60px #ffd97d;
	}
	100% {
		color: #ff9b85;
    text-shadow: 2px 2px 60px #ff9b85;
	}
}

body {
  margin: 1vw;
  background-color: #222a3b;
  font-family: 'Fira Code', monospace;
  padding: 2vw;
  font-weight: normal;
}

.allOk {
  font-size: 3rem;
  margin-top: 7rem;
  margin-bottom: 0.5rem;
}


@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}