<!DOCTYPE html>
<html>
  <head>
    <title>Email Verification</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='email_verification.css') }}">
  </head>
  <body>
    <div class="main">
      <h1>Email Verification</h1>
      <h6>Please enter the 6-digit verification code we sent to your email:</h6>
      <form method="POST" action="{{ url_for('verify_email', userid=user_id) }}">
        <input type="text" name="verification_code" maxlength="6" pattern="\d{6}" required>
        <br><br>
        <input type="submit" value="Verify">
      </form>
    </div>
  </body>
</html>